.btn-add-content-block span
{
    font-size: 14px;
    padding: 0 10px;
}

.group-drop-menu-add-content-block
{
    width: 200px;
    max-height: 400px;
    background-color: var(--content-background-color);
    border: 1px solid rgba(0,0,0,.07);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.07), 0 4px 8px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
}

.group-drop-menu-item-add-content-block
{
    padding: 10px;
}

.group-drop-menu-item-add-content-block:hover
{
    background-color: var(--content-primary-background-color-hover);
}

.group-drop-menu-item-add-content-block.group-drop-menu-item--active
{
    background-color: var(--content-primary-background-color-hover);
}

.group-drop-menu-item-add-content-block img
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.group-drop-menu-item-add-content-block span
{
    font-size: 14px;
}